# Include the LICENSE file
include LICENSE

# Include the README.md file
include README.md

# Include the package data files in the gitiii_ag/data/ directory
recursive-include gitiii_ag/data *.pth
recursive-include gitiii_ag/data __init__.py

# Include all .py files in the gitiii package
recursive-include gitiii_ag *.py

# Exclude unnecessary files from the package distribution
exclude *.pyc
exclude __pycache__/
exclude .idea/